<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleGetInfoString</key>
  <string>Sanity 1.0</string>
  <key>CFBundleIdentifier</key>
  <string>naatan.com.Sanity.style</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>1.0</string>
  <key>CFBundleName</key>
  <string>Sanity 1.0</string>
  <key>CFBundlePackageType</key>
  <string>AdIM</string>
  <key>DefaultVariant</key>
  <string>Default</string>
  <key>MessageViewVersion</key>
  <integer>3</integer>
  <key>ShowsUserIcons</key>
  <true/>
  <key>ActionMessageTemplate</key>
  <string>&lt;i&gt;%sender% %message%&lt;/i&gt;</string>
</dict>
</plist>
